.ui-colorpicker .wrap {position: relative;}
.ui-colorpicker .wrap div {position: absolute;cursor: crosshair;}
.ui-colorpicker .wrap, .ui-colorpicker .wheel {width: 195px;height: 195px;}
.ui-colorpicker .wrap .board, .ui-colorpicker .wrap .overlay {top: 47px;left: 47px;width: 101px;height: 101px;}
.ui-colorpicker .wrap .wheel {background: url(http://img.china.alibaba.com/cms/upload/2011/923/910/19329_548721671.png) no-repeat;width: 195px;height: 195px;}
.ui-colorpicker .wrap .overlay {background: url(http://img.china.alibaba.com/cms/upload/2011/823/910/19328_548721671.png) no-repeat;}
.ui-colorpicker .wrap .marker {width: 17px;height: 17px;margin: -8px 0 0 -8px;overflow: hidden;background: url(http://img.china.alibaba.com/cms/upload/2011/723/910/19327_548721671.png) no-repeat;}