.ui-flash div {
    position: relative;
    overflow: hidden;
}

.ui-flash input {
    position: absolute;
	top: 0;
    right: 0;
    z-index: 2;
    width: auto;
    height: 22px;
    cursor: pointer;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.ui-flash-disabled input {
    cursor: default !important;
}

.ui-flash a {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    text-decoration: none !important;
    background-repeat: no-repeat;
}

.ui-flash a.ui-state-hover {
    background-position: 0 -25px;
}

.ui-flash a.ui-state-active {
    background-position: 0 -50px;
}

.ui-flash-disabled a {
    background-position: 0 -75px !important;
    cursor: default !important;
}

.ui-flash-uploader {
    height: 0;
    line-height: 1px;
    overflow: hidden;
    visibility: hidden;
}