.ui-timer dl {
    float: left;
    width: 30px;
    height: 40px;
    overflow: hidden;
}

.ui-timer dd {
    background: url(http://img.china.alibaba.com/news/upload/0/num_1267286647898.gif) no-repeat;
    height: 40px;
    width: 30px;
}

.ui-timer .num0 {
    background-position: 0 0;
}

.ui-timer .num1 {
    background-position: 0 -40px;
}

.ui-timer .num2 {
    background-position: 0 -80px;
}

.ui-timer .num3 {
    background-position: 0 -120px;
}

.ui-timer .num4 {
    background-position: 0 -160px;
}

.ui-timer .num5 {
    background-position: 0 -200px;
}

.ui-timer .num6 {
    background-position: 0 -240px;
}

.ui-timer .num7 {
    background-position: 0 -280px;
}

.ui-timer .num8 {
    background-position: 0 -320px;
}

.ui-timer .num9 {
    background-position: 0 -360px;
}