a.alitalk { padding: 2px 0 2px 20px; background: url(http://img.china.alibaba.com/images/fdevlib/contact-icon.gif) no-repeat; line-height: 14px; color: #001D4C; text-decoration: underline !important; font: 12px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif; font-weight: normal; zoom: 1; }
a.alitalk:hover { color: #FF7300; }
a.alitalk-on { background-position: -190px -59px; }
a.alitalk-off { background-position: -190px -29px; }
a.alitalk-mb { background-position: -190px 1px; }