/**
 * Suggestion 1.0
 */
.web-suggestion{border:1px solid #b8b8b8;position:absolute;z-index:1001;background:#fff;}
.web-suggestion li{color:#999;line-height:23px;height:23px;cursor:default;}
.web-suggestion .suggest-key{float:left;padding-left:4px;}
.web-suggestion .suggest-key em{color:#666;font-weight:700;}
.web-suggestion .suggest-result{float:right;padding-right:4px;text-align:right;}
.web-suggestion .suggest-city,
.web-suggestion .suggest-category{float:left;padding-left:16px;}
.web-suggestion .ui-state-hover{background-color:#eee;}
.web-suggestion .ui-state-hover .suggest-result{color:#666;}